.stage {
    border:solid red;
    display:flex;
    justify-content: space-between;
}
.action {
    border:solid purple;
    width: 30%;
    height:20vh;
    text-align: center;
}
.player {
    border:solid green;
    width: 30%;
    height:20vh;
    text-align: center;
}
.enemy {
    border:solid blue;
    width: 30%;
    height:20vh;
    text-align: center;
}
.controls {
    border:solid orange;
    display:flex;
    justify-content: space-between;
}
.attack {
    border:solid black;
    background-color: crimson;
    color:White;
    text-align: center;
    width: 150px;
    height: 25px;
    border-radius: 12px;
}
.retreat {
    border:solid black;
    background-color: crimson;
    color:White;
    text-align: center;
    width: 150px;
    height: 25px;
    border-radius: 12px;
}
.start {
    border:solid black;
    background-color: crimson;
    color:White;
    text-align: center;
    width: 150px;
    height: 25px;
    border-radius: 12px;
}
.instructions {
    border:solid black;
    background-color: crimson;
    color:White;
    text-align: center;
    width: 150px;
    height: 25px;
    border-radius: 12px;
}