.stage {
    border:solid red;
    display:flex;
    justify-content: space-between;
}
.action {
    border:solid purple;
    width: 30%;
    height:20vh;
    text-align: center;
}
.player {
    border:solid green;
    width: 30%;
    height:20vh;
    text-align: center;
}
.enemy {
    border:solid blue;
    width: 30%;
    height:20vh;
    text-align: center;
}
.controls {
    border:solid orange;
    display:flex;
    justify-content: space-between;
}
.attack {
    border:solid black;
    background-color: crimson;
    color:White;
    text-align: center;
    width: 150px;
    height: 25px;
    border-radius: 12px;
}
.attack:hover {
    border:solid black;
    background-color: rgb(255, 5, 242);
    color:white;
}
.retreat {
    border:solid black;
    background-color: crimson;
    color:White;
    text-align: center;
    width: 150px;
    height: 25px;
    border-radius: 12px;
}
.retreat:hover {
    border:solid black;
    background-color: rgb(36, 248, 8);
    color:white;
}
.start {
    border:solid black;
    background-color: crimson;
    color:White;
    text-align: center;
    width: 150px;
    height: 25px;
    border-radius: 12px;
}
.start:hover {
    border:solid black;
    background-color: rgb(29, 11, 196);
    color:white;
}
.instructions {
    border:solid black;
    background-color: crimson;
    color:White;
    text-align: center;
    width: 150px;
    height: 25px;
    border-radius: 12px;
}
.instructions:hover {
    border:solid black;
    background-color: orange;
    color:white;
}
.round {
    border:solid rgb(0, 0, 0);
    background-color: orange;
    color: white;
    width: 30%;
    height:20vh;
    text-align: center;
    display:none;
}
.gameOver {
    border:solid red;
    background-color: red;
    color: white;
    width: 30%;
    height:20vh;
    text-align: center;
    display:none;
}
.winner {
    border:solid greenyellow;
    background-color: greenyellow;
    color: black;
    width: 30%;
    height:20vh;
    text-align: center;
    display:none;
}
.enemyToken {

}